# Ignore node_modules
node_modules
**/node_modules

# Ignore local logs
*.log
logs
npm-debug.log*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore build output
dist
build

# Ignore git
.git
.gitignore

# Ignore Dockerfile itself if you want (optional)
Dockerfile
docker-compose*.yml
